{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'notes_app/css/style.css' %}" />
        <title>Notes App</title>
  </head>
  <header class="header">
    <a href="{% url 'home' %}" class="logo-text" title="DjangoNotesApp">
      NotesApp
    </a>
  </header>


  <body>

    <div class="note-item__container edit-note">
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="title"
          class="edit-note__title"
          placeholder="Enter note title..."
          {% if note %}
          value="{{ note.title }}"
          {% endif %}
        />
        <!-- /note-title -->
        <textarea name="body" class="edit-note__body" placeholder="Enter note...">
    {% if note %}{{ note.body }}{% endif %}
        </textarea>

        <!-- /note-body -->
        <button type="submit" class="btn">
          {% if note %} Submit {% else %} Add note {% endif %}
        </button>
      </form>
      {% block content %}
      {% endblock content %}
    </div>
    <!-- /edit-note -->
  </body>
</html>
