{% extends 'notes_app/main.html' %}

{% block content %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a href="/" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename">Notes</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="{% url 'notes' %}">Notes</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>

<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                    <h1>Notes App</h1>
                    <p>Notes App made with Django and Bootstrap</p>
                    <div class="d-flex">
                        <a href="{% url 'notes' %}" class="btn-get-started">View Notes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
